.PlantName{
    margin-top: 0px;
    width: 200px;
    font-size: larger;
    font-family: cursive;

}
.Image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-right: 5px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 200px) and (max-width: 600px) {
    .Image{
        width: 150px;
        height: 150px;
        border-radius: 15px;
        margin-right: 5px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px)  {

}

@media only screen and (min-width: 992px) and (max-width: 1200px)  {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  

}